.desktop-header__nav-item {
    flex: 1 0 auto;
    text-align: center;
}

.welcome-banner__kevin {
    display: inline-block;
    margin-top: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;
}

.welcome-banner__kevin--descended {
    margin-bottom: -30px;
}
